      body{
            background-color: #f7f7ff;
            position: relative;
            color: #FFF;
            font-family: sans-serif;
        }
        #app{
            background-color: #3949ab;
            margin: 40px auto;
            border: 1px solid #ccc;
            width: 400px;
            height: 400px;
            padding: 40px;
        }

        #logo{
            width:80px;
            margin-left: -5px;
        }
        #separator{
            width: 200px;
            height: 1px;
            background-color: #FFF;
            display: inline-block;
        }
        #quote{
            font-size: 40px;
            vertical-align: top;
            margin: 40px 0 20px;
        }

        #author{
            font-size: 24px;
        }
        #controls{
            text-align: center;
        }
